<br>
<div class="hrdivider">
  <hr class="style1">
  <span>PLAY</span>

  <div class=" p-md-1 mb-1 text-white rounded" style=" height: 230px;background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm301-eye-10-g_1_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d1fe3295e5d9d94795fa572db9072c91')">
    <div class="font-weight-bold float-left text-left" style="margin-left: 40px; margin-top: 20px">
    <h2><b>All Seasons and Play</b></h2>
    <p><b>Pick- and winrates, itembuilds, and more. Dive into the data and  </b></p>
    <p><b>learn all about the current seasons!</b></p>
    <button  [routerLink]="['play']" type="button" class="text-white btn-danger btn font-weight-bold" style="background: #EC1C24">GO TO PLAY</button>
    </div>
  </div>

</div>
