<div class="row mb-5 d-flex justify-content-center" style="font-family: Montserrat">

  <div class="col-3 rounded p-4"  style="width: 300px;" >
    <form>
      <br>
      <div class="mb-3">
        <input style="font-size: 13px;background: #323232" type="text" name="username" value="bob" class="form-control" placeholder="username" >
      </div>

      <div class="mb-3">
        <input class="form-control no-border" style="font-size: 13px; background: #323232" type="password" name="password" value="123" class="form-control" placeholder="password" >
      </div>
        <div class="gap-2 d-md-block text-center">
          <a class="btn text-white" style="width:100%; background: #EC1C24; font-size: 14px" (click)="save()" type="submit"  >login</a>
        </div>

    </form>
  </div>
</div>
