<div class=" blog-main" style="margin-top: 20px;">
  <h4 class="pb-3 mb-2 font-weight-bold" style="font-size: 50px">
    {{eventsPost[id-1].title}}
  </h4>

  <img src="{{eventsPost[id-1].img}}" style="width: 100%; ">
  <div class="blog-post" style="background: black; padding-left: 30px; padding-top: 5px ">

    <div class="container">
      <div class="row row-cols-3">

        <div class="col">
          <p style="font-size: 10px; color: gold">start date:</p>
          <p>2021-04-12</p>
        </div>

        <div class="col">
          <p style="font-size: 10px; color: gold">type:</p>
          <p>Online Invite</p>
        </div>

        <div class="col">
          <p style="font-size: 10px; color: gold">location:</p>
          <p>Americas</p>
        </div>

        <div class="col">
          <p style="font-size: 10px; color: gold">end date:</p>
          <p>2021-24-12</p>
        </div>

        <div class="col">
          <p style="font-size: 10px; color: gold">prize tool:</p>
          <p>$1,000 USD</p>
        </div>

        <div class="col">
          <p style="font-size: 10px; color: gold">host / series:</p>
          <p>Chompix</p>
        </div>

      </div>
    </div>

    <hr>
  </div>

</div>


