<br>
<div class="container">
  <div class="row">
    <div class="col-md-auto">

      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark" style="background-image: url('https://cdn.igromania.ru/mnt/news/5/5/7/d/4/4/102565/2ac51e2573a4150e_1920xH.jpg')">
        <div class="col-md-6 px-0">
          <p style="margin-top: 100px; padding: 9px; background: black"><strong><span style="color: #841c25">Netflix’s</span> DOTA 2 anime gets a proper teaser trailer full of dragon-fighting action</strong>
            The sweeping fantasy series based off of the DOTA2 universe tells the story of Davion, a renowned Dragon Knight devoted to wiping the scourge from the face of the world. Following encounters with a powerful, ancient eldwurm as well as the noble
            Princess Mirana on a secret mission of her own, Davion becomes embroiled in events much larger than he could have ever imagined.</p>
        </div>
      </div>

      <app-last-news></app-last-news>
      <app-last-events></app-last-events>
      <app-last-ranking></app-last-ranking>
    </div>
  </div>
</div>
