<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" action="https://formspree.io/f/xvodkwpv"
      method="POST">


    <input type="hidden" name="message" value="Welcome, to joindota!"/>

    <label>
      <input type="text" id="email" placeholder="email" style="background: #323232"
             name="_replyto" formControlName="email"/>
    </label>
    <button type="submit">Send</button>
    <div [style.color]="'red'" *ngIf="!contactForm?.controls?.email?.valid
                && (contactForm?.controls?.email?.dirty
                    || contactForm?.controls?.email?.touched)">
      Invalid Email
      <div *ngIf="contactForm?.controls?.email?.errors?.required">
        Email is required
      </div>
      <div *ngIf="contactForm?.controls?.email?.errors?.minlength">
        Email min length error {{contactForm?.controls?.email?.errors?.minlength?.requiredLength}}
      </div>
    </div>
</form>
