<div class=" blog-main" style="margin-top: 20px;">
  <h4 class="pb-3 mb-2 font-weight-bold" style="font-size: 50px">
    {{playPost[id-1].title}}
  </h4>

  <img src="{{playPost[id-1].img}}" style="width: 100%; ">
  <div class="blog-post" style="background: black; padding-left: 30px; padding-top: 5px ">

    <div class="container">
      <div class="row row-cols-4">

        <div class="col">
          <p style="font-size: 14px; color: gold">Game:</p>
          <p>Dota 2</p>
        </div>

        <div class="col">
          <p style="font-size: 14px; color: gold">Type:</p>
          <p>{{playPost[id-1].type}}</p>
        </div>

        <div class="col">
          <p style="font-size: 14px; color: gold">Status:</p>
          <p>{{playPost[id-1].status}}</p>
        </div>

        <div class="col">
          <p style="font-size: 14px; color: gold">Participants:</p>
          <p style="color: #EC1C24">{{playPost[id-1].participants}}</p>
        </div>

      </div>
    </div>

    <hr>
  </div>

</div>

<div class="hrdivider">
  <hr class="style1">
  <span class="justify-content-center">SCHEDULE</span>
</div>

<div class=" blog-main" style="margin-top: 10px;">
  <div class="blog-post" style="background: black; margin-top: 10px; padding: 10px; ">
  <p>{{playPost[id-1].schedule}}</p>
  </div>

</div>









